@using ShippingRecorder.Mvc.Models
@model SightingSummaryViewModel

@{
    var activeHistory = Model.Sighting.Vessel.RegistrationHistory?.FirstOrDefault(x => x.IsActive);
    var vesselName = activeHistory?.Name;
}

<div class="row">
    <table class="table table-striped table-bordered">
        <caption style="caption-side: top !important; text-align:center">
            @Model.Message
        </caption>
        <thead class="table-light">
            <tr>
                <th>Last Seen</th>
                <th>Location</th>
                <th>IMO</th>
                <th>Name</th>
                <th>Voyage</th>
                <th>My Voyage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Sighting.Date.ToShortDateString()</td>
                <td>@Model.Sighting.Location.Name</td>
                <td>@Model.Sighting.Vessel.IMO</td>
                <td>@vesselName</td>
                <td>@Model.Sighting.Voyage?.Number</td>
                <td align="center">
                    @if (Model.Sighting.IsMyVoyage)
                    {
                        <span style="color: green"><i class="fas fa-check-circle"></i></span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />