@using ShippingRecorder.Entities.Db
@using ShippingRecorder.Mvc.Entities
@model ShippingRecorder.Mvc.Models.SightingSearchViewModelBase
@{
    string previousDisabled = (Model.PreviousEnabled) ? "" : "disabled";
    string nextDisabled = (Model.NextEnabled) ? "" : "disabled";
}

@Html.HiddenFor(m => m.PageNumber)

@if (Model.Sightings?.Count > 0)
{
    <table class="table">
        <tr>
            <th>Location</th>
            <th>IMO</th>
            <th>Name</th>
            <th>Date</th>
            <th>Voyage</th>
            <th>My Voyage</th>
            <th />
        </tr>
        @foreach (var sighting in Model.Sightings)
        {
            var activeRegistration = sighting.Vessel.RegistrationHistory.FirstOrDefault(x => x.IsActive);
            var vesselName = activeRegistration?.Name ?? "";
            <tr>
                <td valign="middle">@sighting.Location.Name</td>
                <td valign="middle">
                    @sighting.Vessel.IMO
                    <a class="btn btn-lg" href="javascript:LoadModalContent(@sighting.VesselId, '/Vessels/ShowVesselDetails')">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <td valign="middle">
                    @vesselName
                    @if (!string.IsNullOrEmpty(vesselName))
                    {
                        <a class="btn btn-lg" href="javascript:LoadModalContent(@sighting.VesselId, '/Vessels/ShowVesselDetails')">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    }
                </td>
                <td valign="middle">@sighting.FormattedDate</td>
                <td valign="middle">
                    @sighting.Voyage?.Number
                    @if (sighting.Voyage != null)
                    {
                        <a class="btn btn-lg" href="javascript:LoadModalContent(@sighting.VoyageId, '/VoyageBuilder/ShowVoyageDetails')">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    }
                </td>
                <td valign="middle" style="text-align: left;">
                    @if (sighting.IsMyVoyage)
                    {
                        <span style="color: green"><i class="fas fa-check-circle"></i></span>
                    }
                </td>
                <td valign="middle">
                    <a class="btn btn-lg" asp-area="" asp-controller="SightingDetails" asp-action="Index" asp-route-id="@sighting.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <hr />
    <p class="text-right">
        <button type="submit" name="Action" value="@ControllerActions.ActionPreviousPage" class="btn btn-secondary" @previousDisabled>Previous</button>
        <button type="submit" name="Action" value="@ControllerActions.ActionNextPage" class="btn btn-primary" @nextDisabled>Next</button>
    </p>
}
else if (Model.HasNoMatchingResults)
{
    <hr />
    @Html.Raw("No matching sightings")
}
