@using HealthTracker.Mvc.Helpers
@model ShippingRecorder.Mvc.Models.VoyageBuilderViewModel

@if (Model.Voyage.Events?.Count > 0)
{
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Port</th>
            <th>Name</th>
            <th>Country</th>
            <th>Event</th>
            @if (Model.Editable)
            {
                <th />
                <th />
            }
        </tr>
        @foreach (var evt in Model.Voyage.OrderedEvents())
        {
            <tr>
                <td valign="center">@evt.Date.ToShortDateString()</td>
                <td valign="center">@evt.Port.Code</td>
                <td valign="center">@evt.Port.Name</td>
                <td valign="center">@evt.Port.Country.Name</td>
                <td valign="center">@evt.EventType.ToString()</td>
                @if (Model.Editable)
                {
                    <td valign="center">
                        <a class="btn btn-lg"
                            asp-area=""
                            asp-controller="VoyageEvents"
                            asp-action="Index" 
                            asp-route-voyageid="@Model.Voyage.Id"
                            asp-route-eventid="@evt.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td valign="center">
                        <a class="btn btn-lg" href="javascript:submitDeleteForm(@evt.Id)">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                }
            </tr>
        }
    </table>
    <hr />
}
else
{
    <hr />
    @Html.Raw("There are no events associated with this voyage")
}