@using ShippingRecorder.Entities.Db
@using ShippingRecorder.Mvc.Entities
@model ShippingRecorder.Mvc.Models.VoyageSearchViewModel

@{
    string previousDisabled = (Model.PreviousEnabled) ? "" : "disabled";
    string nextDisabled = (Model.NextEnabled) ? "" : "disabled";
}

@Html.HiddenFor(m => m.PageNumber)

@if (Model.Voyages?.Count > 0)
{
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Operator</th>
            <th>Vessel</th>
            <th>From</th>
            <th>Depart</th>
            <th>Country</th>
            <th>To</th>
            <th>Arrive</th>
            <th>Country</th>
            <th />
            <th />
        </tr>
        @foreach (var voyage in Model.Voyages)
        {
            var vesselName = voyage.Vessel.ActiveRegistrationHistory?.Name ?? "";
            if (string.IsNullOrEmpty(vesselName))
            {
                vesselName = voyage.Vessel.IMO;
            }

            VoyageEvent firstEvent = voyage.FirstEvent();
            VoyageEvent lastEvent = voyage.LastEvent();

            <tr>
                <td valign="middle">@voyage.Number</td>
                <td valign="middle">@voyage.Operator.Name</td>
                <td valign="middle">@vesselName</td>
                <td valign="middle">@firstEvent?.Date.ToShortDateString()</td>
                <td valign="middle">@firstEvent?.Port.Name</td>
                <td valign="middle">@firstEvent?.Port.Country.Name</td>
                <td valign="middle">@lastEvent?.Date.ToShortDateString()</td>
                <td valign="middle">@lastEvent?.Port.Name</td>
                <td valign="middle">@lastEvent?.Port.Country.Name</td>
                <td valign="middle">
                    <a class="btn btn-lg" asp-area="" asp-controller="VoyageBuilder" asp-action="Index" asp-route-id="@voyage.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td valign="middle">
                    <a class="btn btn-lg" href="javascript:submitDeleteForm(@voyage.Id)">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
}
else if (Model.HasNoMatchingResults)
{
    <hr />
    @Html.Raw("No matching voyages")
}