@model ShippingRecorder.Mvc.Models.VesselModel

@Html.HiddenFor(m => m.Registration.Id)
@Html.HiddenFor(m => m.Registration.IsActive)

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.VesselTypeId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.Registration.VesselTypeId, Model.VesselTypes, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.VesselTypeId, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.FlagId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.Registration.FlagId, Model.Countries, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.FlagId, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.OperatorId)</strong>
        <div class="input-group">
            @Html.DropDownListFor(m => m.Registration.OperatorId, Model.Operators, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.OperatorId, "", new { @class = "text-danger" })</span>
    </div>
</div>
<br/>

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Date)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.Registration.Date, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Date, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Name)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.Registration.Name, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Name, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Callsign)</strong>
        <div class="input-group">
            @Html.EditorFor(m => m.Registration.Callsign, new { @class = "form-control" })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Callsign, "", new { @class = "text-danger" })</span>
    </div>
</div>
</br>

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.MMSI)</strong>
        <div class="input-group">
            @Html.TextBoxFor(m => m.Registration.MMSI, new {
                        @class = "form-control",
                        type = "text",
                        inputmode = "numeric",
                        pattern = "[0-9]*",
                        oninput = "this.value = this.value.replace(/[^0-9]/g, '')"
                    })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.MMSI, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Tonnage)</strong>
        <div class="input-group">
            @Html.TextBoxFor(m => m.Registration.Tonnage, new {
                        @class = "form-control",
                        type = "text",
                        inputmode = "numeric",
                        pattern = "[0-9]*",
                        oninput = "this.value = this.value.replace(/[^0-9]/g, '')"
                    })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Tonnage, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Passengers)</strong>
        <div class="input-group">
            @Html.TextBoxFor(m => m.Registration.Passengers, new {
                        @class = "form-control",
                        type = "text",
                        inputmode = "numeric",
                        pattern = "[0-9]*",
                        oninput = "this.value = this.value.replace(/[^0-9]/g, '')"
                    })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Passengers, "", new { @class = "text-danger" })</span>
    </div>
</div>
</br>

<div class="row">
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Crew)</strong>
        <div class="input-group">
            @Html.TextBoxFor(m => m.Registration.Crew, new {
                        @class = "form-control",
                        type = "text",
                        inputmode = "numeric",
                        pattern = "[0-9]*",
                        oninput = "this.value = this.value.replace(/[^0-9]/g, '')"
                    })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Crew, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Decks)</strong>
        <div class="input-group">
            @Html.TextBoxFor(m => m.Registration.Decks, new {
                        @class = "form-control",
                        type = "text",
                        inputmode = "numeric",
                        pattern = "[0-9]*",
                        oninput = "this.value = this.value.replace(/[^0-9]/g, '')"
                    })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Decks, "", new { @class = "text-danger" })</span>
    </div>
    <div class="col">
        <strong>@Html.LabelFor(m => m.Registration.Cabins)</strong>
        <div class="input-group">
            @Html.TextBoxFor(m => m.Registration.Cabins, new {
                        @class = "form-control",
                        type = "text",
                        inputmode = "numeric",
                        pattern = "[0-9]*",
                        oninput = "this.value = this.value.replace(/[^0-9]/g, '')"
                    })
        </div>
        <span>@Html.ValidationMessageFor(m => m.Registration.Cabins, "", new { @class = "text-danger" })</span>
    </div>
</div>
</br>
