@using ShippingRecorder.Mvc.Entities
@model ShippingRecorder.Mvc.Models.VoyageBuilderViewModel

@{
    ViewData["Title"] = "Voyage Builder";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Voyage Builder
    </span>
    <br />
    <small class="text-muted">
        <em>
            Manage the properties and events associated with a voyage
        </em>
    </small>
</p>
<hr />

<div class="container-fluid">
    @using (Html.BeginForm("Delete", "VoyageEvents", FormMethod.Post, new { name = "delete-form", id = "delete-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", 0)
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("_VoyageDetails", Model)

        @if (Model.Voyage.Events?.Count == 0)
        {
            <hr />
        }

        <p class="text-right">
            @if (Model.Editable)
            {
                <a class="btn btn-secondary" role="button" asp-area="" asp-controller="Voyages" asp-action="Index" asp-route-id="@Model.Voyage.OperatorId">Close</a>
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="VoyageEvents" asp-action="Index" asp-route-voyageid="@Model.Voyage.Id" asp-route-eventid="0">Add Event</a>
            }
        </p>
    }
</div>

<script type="text/javascript">
    function submitDeleteForm(id) {
        $.confirm({
            text: "Are you sure?",
            confirm: function(button) {
                $("#delete-form #id").val(id);
                $("#delete-form").submit()
            },
            cancel: function(button) {
            },
            confirmButton: "Yes",
            cancelButton: "No"
        });
    }
</script>
