@using ShippingRecorder.Mvc.Entities
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ShippingRecorder.Mvc.Models.ImportViewModel

@{
    ViewData["Title"] = "Import";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Import
    </span>
    <br />
    <small class="text-muted">
        <em>
            Import data
        </em>
    </small>
    <hr/>
</p>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <div class="col-md-12 message">
            <span>@Html.Raw(Model.Message)</span>
        </div>
    </div>
    <hr />
}

@using (Html.BeginForm("Index", "Import", FormMethod.Post, new{ enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <strong>@Html.LabelFor(m => m.DataExchangeType)</strong>
            </div>
            <div class="col">
                <div class="input-group">
                    @Html.DropDownListFor(m => m.DataExchangeType, Model.ImportTypes, new { @class = "form-control" })
                </div>
                <span>@Html.ValidationMessageFor(m => m.DataExchangeType, "", new { @class = "text-danger" })</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <strong>@Html.LabelFor(m => m.ImportFile)</strong>
            </div>
            <div class="col">
                <div class="input-group">
                    @Html.EditorFor(m => m.ImportFile)
                </div>
                <span>@Html.ValidationMessageFor(m => m.ImportFile, "", new { @class = "text-danger" })</span>
            </div>
        </div>
        <br/>
        <hr />
        <p class="text-right">
            <button type="submit" name="Action" id="Import" value="@ControllerActions.ActionImport" class="btn btn-primary">Import</button>
        </p>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on("keydown", function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
                $('#Import').click();
            }
        });
    });
</script>

